.App {
  text-align: center;
}


.App-header {
  background-color: darkslategray;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: darkslategray;
  min-height: 20px;
  display: flex;
  align-items: right;
  justify-content: right;
  font-size: 15px;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}




